// So I can use BEM (block element modifier) for writing my SASS classes
.header {

  nav {
    padding: 17px 24px;
    padding: 1.06rem 1.50rem;
  }
  
  &__logo {

    img {
      width: 8.8125rem;
      height: 1.375;
    }
  }

  &__menu {
    // Mobile Menu

    > span {
      // direct child
      display: block;
      width: 26px;
      height: 2px;
      background: $darkBlue;

      &:not(:last-child) {
        // all other spans get 3px margin bottom
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: 300ms ease-in;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &:hover {
        color: $darkBlue;

        &::before {
          opacity: 1;
        }
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(
          to right,
          $limeGreen, $brightCyan
        );
        transition: opacity 300ms ease-in-out;
      }
    }
  }

  &__cta {
    font-size: $font-sm;
    color: $white;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}
